<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello,vue</title>
    <script src="vue.js"></script>
</head>
<!--<body>
   <div id="app">
       <p>{{message}}</p>
       <input type="text" v-model="message">
   </div>
   <script>
       var app= new Vue({
           el:'#app',
           data: {
               message:'双向数据绑定'
           }
       })
   </script>
</body>-->
<body>
    <div id="app">
        <p>{{message}}</p>
        <input type="text" v-model="message">

    </div>
    <script>
        var vm=new Vue({
            el:'#app',
            data:{
                message:'Hello vue.js'
            }
        })
    </script>
</body>
</html>