<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello,vue</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <ol>
           <!-- <li v-for="todo in groceryList">
                {{todo.text}}
            </li>-->
            <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.key"
            ></todo-item>
        </ol>
    </div>
    <script>
        Vue.component('todo-item', {
            props:['todo'],
            template: '<li>{{todo.text}}</li>'
        })
        var app=new Vue({
            el:'#app',
            data:{
                groceryList:[
                    {key:4,text:'蔬菜'},
                    {key:5,text:'奶酪'},
                    {key:6,text:'随便其他什么人吃的东西'}
                ]
            }
        })
    </script>
</body>
</html>