<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        html,body {
            width:100%;
        }
        body {
            margin: 0;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        td {
            text-align: center;
        }
        input {
            max-width: 50px;
            text-align: center;
        }
        .active{
            background-color: #fffd33;
        }
    </style>
</head>
<body>
    <div id="app">
        <table border="1" >
            <tr>
                <th><input type="checkbox" value="全选" v-model="isCheckedAll"></th>
                <th>名称</th>
                <th>单价</th>
                <th>数量</th>
                <th style="min-width: 70px">小计</th>
            </tr>
            <tr v-for="item,index in list" :key="index" :class={active:item.checked}>
                <td><input type="checkbox" v-model="item.checked"></td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td style="max-width: 60px">
                    <button @click="subtract(index)">-</button>
                    <input type="text" v-model.number="item.number">
                    <button @click="plus(index)">+</button>
                </td>
                <td>￥{{item.price*item.number}}</td>
            </tr>
        </table>
        <p><button>商品件数：{{sum}}</button></p>
        <p><button>待付款：￥{{toPay}}</button></p>
    </div>
    <script src="vue.js"></script>
    <script>
        let list = [
          {
            name: 'iphone8',
            price: 8888.00,
            number: 0,
            checked: false
          },
          {
            name: 'imac',
            price: 18666.00,
            number: 0,
            checked: false
          },
          {
            name: 'macbook',
            price: 12000.00,
            number: 0,
            checked: false
          },
          {
            name: 'iwatch',
            price: 3000.00,
            number: 0,
            checked: false
          },
          {
            name: 'ipad',
            price: 4000.00,
            number: 0,
            checked: false
          },
          {
            name: 'ipod',
            price: 1000.00,
            number: 0,
            checked: false
          }
        ]
    let vm = new Vue({
      el: "#app",
      data: {
        list
      },
      computed: {
        isCheckedAll: {
          get(){
            return !this.list.some( item => {
              return item.checked === false
            })
          },
          set(state){
            this.list.forEach( item => {
              item.checked = state
            })
          }
        },
        sum(){
          let total = 0;
          list.forEach( item => {
            if(item.checked){
                total += item.number
            }
          })
          return total
        },
        toPay() {
          let total = 0;
          list.forEach( item => {
            if(item.checked){
                total += item.number*item.price
            }
          })
          return total.toFixed(2)
        }
      },
      methods: {
        subtract(n) {
          if(this.list[n].number>0) this.list[n].number--;
        },
        plus (n) {
          this.list[n].number++;
        }
      }
    })
    </script>
</body>
</html>